/*-------------------------------------------------------------------------------------*/

/*------------------------ Default view -----------------------------------------------*/

/*--------------------------------------------------------------------------------------*/


#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------ container -----------------------------------------------*/


.container {
	background:linear-gradient(
      			 rgba(0, 0, 0, 0.55), 
      			 rgba(0, 0, 0, 0.55)
    				 ),url('person_laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Open Sans, Arial, sans-serif;
    padding: 20px 40px 250px 40px;
    margin-bottom: 80px;
}

.container ul {
  list-style-type:  none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  font-size: 15px;
}

.container li {
  float: right;
}

.container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container li a:hover:not(.active) {
  color: lightgrey;
}

.container h1 {
	font-family: Open Sans, Arial, sans-serif;
	color: white;
	font-size: 54px;
	font-weight: 300;
	text-align: center;
	margin: 100px 80px 30px 80px ;
	padding: 0px 130px;
	line-height: 70px;
}

.container button { 
  border: none;
  color: white;
  padding: 20px 40px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.container .But_GetThemNow {
  background-color: #10579c;
  color: white;
  border: 2px solid 10579c;
}

.container .But_GetThemNow:hover {
  background-color: rgb(23, 53, 117);
  color: white;
  border: 2px solid rgb(23, 53, 117);
}

.container .But_SeeFeatures {
	margin-left: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}

.container .But_SeeFeatures:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border: 2px solid #fff;
}


/*------------------------ container2 -----------------------------------------------*/


.container2 {
	background-color: white;
	font-family: Open Sans, Arial, sans-serif; 
  padding: 60px 0px 140px 0px;
}

.container2 img {
	height: 70px;
}

.container2 .container2_image_allign_vertical {
	 width:1170px;
	 height: 400px;
	 text-align:left;
	 display:block;
	 background-color: transparent;
	 margin: 0px 0px 15px 0px;
	 padding-left: 70px;
	 padding-right: 20px;
	 float:left;
}

.container2 .container2_image_allign_vertical p {
	font-family: Open Sans, Arial, sans-serif; 
	color: #73767c;
	font-size: 16px;
	line-height: 27px;
	width: 300px;
}

.container2 .container2_image_allign_vertical h2 {
	font-family: Open Sans, Arial, sans-serif; 
	color: #1a57a5;
	font-size: 24px;
	font-weight: 500;
	width: 300;
}

.container2 .container2_image_allign_vertical a {
	font-family: Open Sans, Arial, sans-serif; 
	color: #174b8f;
	font-size: 16px;
}


/*------------------------ container3 -----------------------------------------------*/


.container3 {
	background-color: #D6E6F2;
	font-family: Open Sans, Arial, sans-serif; 
    padding-bottom: 180px;
    padding-top: 70px;
    margin-top: 20px;
}

.container3 h2 {
	font-family: Open Sans, Arial, sans-serif; 
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 70px 150px 0px 150px ;
    padding: 0px 50px;
}	

.container3 .featxt {
	font-family: Open Sans, Arial, sans-serif; 
	color: #73767c;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
  margin: 10px 150px 70px 150px ;
  padding: 5Px 100px 50px 100px;
}

.container3 hr {
	margin: 40px 580px;
	color: #1A57A5;
	display: block;
	border-style: solid;
	border-width: 1px;
}

.container3 img {
	height: 500px;
	width: 750px;
	max-width: 100%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container3 .container3_imageleft_allign_horizontal {
	 vertical-align: middle;
	 margin-bottom: 70px;
	 margin-top: 70px;
}

.container3 .container3_image_allign_vertical {
	 width:350px;
	 text-align:left;
	 display:block;
	 background-color: transparent;
	 margin: 20px 60px 20px 0px;
	 float:right;
}

.container3 .container3_image_allign_vertical .headright {
	font-family: Open Sans, Arial, sans-serif; 
	color: #1a57a5;
	font-size: 36px;
	font-weight: 500;
	line-height: 52px;
	text-align: left;
}

.container3 .container3_image_allign_vertical .text1 {
	font-family: Open Sans, Arial, sans-serif; 
	color: black;
	font-size: 16px;
	line-height: 27px;
	text-align: left;
	color: #73767c;
}

.container3 .container3_image_allign_vertical li {
	padding-top: 5px;
	list-style-type: '\2714\0020';
	line-height: 27px;
	color: #73767c;
}

.container3 .container3_imageright_allign_horizontal {
	 vertical-align: middle;
	 margin-bottom: 70px;
	 margin-top: 70px;
	 padding-bottom: 500px;
}


/*------------------------ container4 -----------------------------------------------*/


.container4 {
	background-color: white;
	font-family: Open Sans, Arial, sans-serif; 
  padding-bottom: 140px;
  padding-top: 80px;
}

.container4 .planhead {
	font-family: Open Sans, Arial, sans-serif; 
    color: black;
    font-size: 50px;
    line-height: 72px;
    font-weight: 500;
    text-align: center;
    margin: 70px 180px 0px 180px ;
    padding: 0px 50px;
}	

.container4 .featxt {
	font-family: Open Sans, Arial, sans-serif; 
	color: #73767c;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
  margin: 10px 120px 140px 120px ;
  padding: 0px 130px;
}

.container4 hr {
	margin: 30px 580px;
	color: #1A57A5;
	display: block;
	border-style: solid;
	border-width: 1px;
}


           /*------------------- price table --------------------------------*/


.container4 .price-row{
	width: 90%;
	max-width: 1500px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
}

.container4 .price-col{
	border: 2px solid #F0F0F0;
	background: #fff;
	padding: 10% 5%;
	text-align: center;
}

.container4 .price-col p{
	font-size: 14px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 3px;
	color: #000;
}

.container4 .price-col h3{
	font-size: 62px;
	margin: 20px 0 40px;
	font-weight: 500;
	color: #1A57A5;
}

.container4 .price-col h3 span{
	font-size: 14px;
	color: #CBCBCB;
	font-style: italic;
}

.container4 .price-col ul{
	text-align: left;
	width: 250px;
	margin: 20px 0;
	color: #737690;
	list-style-type: '\2714\0020';
	padding-bottom: 15px;
}

.container4 .price-col ul li{
	margin: 15px 00px 15px 0px;
	size: 16px;
	padding: 0 20px;
	width: 280px;
}

.container4 .price-col button{
	width: 60%;
	padding: 14px 0;
	background: solid;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	border: 1px solid #000;
	cursor: pointer;
	transition: background 0.5s;
}

.container4 .price-col button:hover{
	background: #262626;
}

.container4 .price-colcent{
	border: 2px solid #F0F0F0;
	background: #fff;
	padding: 10% 5%;
	text-align: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container4 .price-colcent p{
	font-size: 14px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 3px;
	color: #000;
}

.container4 .price-colcent h3{
	font-size: 62px;
	margin: 20px 0 40px;
	font-weight: 300;
	color: #1A57A5;
}

.container4 .price-colcent h3 span{
	font-size: 14px;
	font-style: italic;
	color: #CBCBCB;
}

.container4 .price-colcent ul{
	text-align: left;
	margin: 20px 0;
	width: 250px;
	color: #737690;
	list-style-type: '\2714\0020';
	padding-bottom: 15px;
}

.container4 .price-colcent ul li{
	margin: 15px 30px 15px 0px;
	size: 16px;
	padding: 0 20px;
	width: 280px;
}

.container4 .price-colcent button{
	width: 60%;
	padding: 14px 0px;
	background: #1A57A5;
	color: #fff;
	font-size: 15px;
	border: 1px solid #1A57A5;
	cursor: pointer;
	transition: background 0.5s;
}

.container4 .price-colcent button:hover{
	background: #103463;
}


/*------------------------ container5 -----------------------------------------------*/


.container5 {
	background-color: #D6E6F2;
	font-family: Open Sans, Arial, sans-serif; 
    padding-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 110px;
}

.container5 .planhead {
	font-family: Open Sans, Arial, sans-serif; 
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 70px 150px 0px 150px ;
    padding: 0px 50px;
}	

.container5 .featxt {
	font-family: Open Sans, Arial, sans-serif; 
	color: #73767c;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
    margin: 10px 110px 110px 110px ;
    padding: 0px 130px;
}

.container5 hr {
	margin: 30px 580px;
	color: #1A57A5;
	display: block;
	border-style: solid;
	border-width: 1px;
}

         /*------------------- reviews --------------------------------*/

.container5 .rate-row {
	width: 90%;
	max-width: 2000px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 35px;
	padding: 15px 0px;
}

.container5 .rate-col {
	border: 1px solid #F0F0F0;
	border-radius: 1%;
	background: #fff;
	padding: 10% 5%;
	margin-bottom: auto;
	text-align: center;
}

.container5 .rate-col p {
	font-size: 18px;
	line-height: 30px;
	color: black;
	font-style: italic;
	text-align: left;
}

.container5 .rate-col h3 {
	font-size: 14px;
	font-weight: 500;
	color: grey;
	text-align: left;
}


/*------------------------ container6 -----------------------------------------------*/


.container6 {
	background-color: white;
	font-family: Open Sans, Arial, sans-serif; 
    padding-bottom: 110px;
    padding-top: 70px;
}

.container6 .tryhead {
	font-family: Open Sans, Arial, sans-serif; 
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 70px 150px 0px 150px ;
    padding: 0px 50px;
}	

.container6 .trytxt {
	font-family: Open Sans, Arial, sans-serif; 
	color: #73767c;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
    margin: 10px 120px 40px 120px ;
    padding: 0px 130px;
}

.container6 hr {
	margin: 35px 590px;
	color: #1A57A5;
	display: block;
	border-style: solid;
	border-width: 1px;
}

.container6 button { 
  border: none;
  color: white;
  padding: 13px 40px;
  margin-top: 0px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.container6 .But_GetItNow {
  background-color: #10579c;
  color: white;
  border: 2px solid #10579c;
}

.container6 .But_GetItNow:hover {
  background-color: rgb(23, 53, 117);
  color: white;
}

.container6 .try-row {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	padding: 5px 0px;
}

.container6 .try-row ul {
	list-style-type: '\2714\0020';
	padding-left: 15px;
	font-weight: 550;
}

.container6 .try-col {
	background: #fff;
	padding: 1% 1%;
	text-align: left;
}

.container6 .try-col p {
	font-size: 16px;
	line-height: 27px;
	color: #73767c;
	text-align: left;
}

.container6 .try-col h3 {
	font-size: 18px;
	color: #000;
	text-align: left;
}


/*------------------------ container7 -----------------------------------------------*/


.container7 {
	background-color: #1A57A5;
	font-family: Open Sans, Arial, sans-serif; 
    padding-bottom: 10px;
    padding-top: 20px;
}

.container7 .joinhead {
	font-family: Open Sans, Arial, sans-serif; 
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 50px 150px 30px 150px ;
    padding: 0px 50px;
}	

.container7 .jointxt {
	font-family: Open Sans, Arial, sans-serif; 
	color: #B7CAE2;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
  margin: 10px 120px 30px 120px ;
  padding: 0px 130px;
}

.container7 button { 
  border: none;
  color: black;
  padding: 12px 43px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.container7 .But_GetStarted {
  background-color: #000;
  color: white;
  border: 2px solid #black;
}

.container7 .But_GetStarted:hover {
  background-color: #262626;
  color: white;
}


/*------------------------ container8 -----------------------------------------------*/


.container8 {
	background-color: #D6E6F2;
	font-family: Open Sans, Arial, sans-serif; 
  padding-bottom: 160px;
  padding-top: 100px;
}

.container8 .co8-row{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
}

.container8 .rright-col {
	padding-left: 100px;
	text-align: left;
}

.container8 .rright-col p{
	font-size: 16px;
	line-height: 27px;
	color: #73767c;
	text-align: left;
}

.container8 .rright-col h3{
	font-size: 16px;
	font-weight: 200;
	color: rgba(0, 0, 0, 0.3);
	text-align: left;
}

.container8 .lleft-col{
	border: 2px solid #F0F0F0;
	background: #fff;
	padding-bottom: 40px;
	padding-left: 30px;
	text-align: left;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container8 .lleft-col input{
	width: 90%;
	height: 40px;
	font-size: 14px;
	border: 0.5px solid lightgrey;
	color: #4F0000;
	text-align: left;
}

.container8 .lleft-col textarea{
	width: 90%;
	height: 150px;
	font-size: 14px;
	border: 0.5px solid lightgrey;
	color: #4F0000;
	text-align: left;
}

.container8 .lleft-col h3{
	font-size: 30px;
	margin: 30px 0px;
	font-weight: 500;
	color: #black;
	text-align: left;
}

.container8 .lleft-col button{
	width: 40%;
	padding: 14px 5px;
	background: #1A57A5;
	color: #fff;
	font-size: 16px;
	border: 1px solid #1A57A5;
	cursor: pointer;
	transition: background 0.5s;
}

.container8 .lleft-col button:hover{
	background: #103463;
}


/*------------------------ footer -----------------------------------------------*/


.footer {
	text-align: center;
	padding: 30px 0;
  width: 100%;
	background-color: #1A57A5;
	font-family: Open Sans, Arial, sans-serif; 
}

.icons p {
	font-family: Open Sans, Arial, sans-serif; 
	color: white;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
  margin: 30px 70px 30px 50px ;
  padding: 0px 50px;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
} 





/*--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------*/

/*------------------------ Small Screen -----------------------------------------------*/

/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/



@media screen and (max-width: 750px) {


/*------------------------ container -----------------------------------------------*/


.container {
	width: 207%;
  padding: 20px 0px 350px 0px;
  margin-bottom: 80px;
}

.container ul {
  list-style-type:  none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  font-size: 15px;
}

.container li {
  float: right;
}

.container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.container h1 {
	font-size: 66px;
	font-weight: 300;
	text-align: center;
	margin: 100px 10px 60px 10px ;
	padding: 0px 20px;
	line-height: 90px;
}

.container button { 
  padding: 40px 40px;
  margin-top: 10px;
  display: block;
  font-size: 36px;
  width: 80%;
  margin-left: 40px;
}

.container .But_SeeFeatures {
	margin-top: 30px;
	margin-left: 40px;
}


/*------------------------------------------------------------------------------------*/

#wrapper {
    width: 110%;
    display: block;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------------------------------------------*/


/*------------------------ container2 -----------------------------------------------*/


.container2 {
	width: 207%;
	height: 2100px;
  padding: 40px 0px 90px 0px;
}

.container2 img {
	height: 130px;
}

.container2 .container2_image_allign_vertical {
	 width:370px;
	 height: 300px;
	 display:block;
	 margin: 0px 0px 385px 0px;
	 padding-left: 50px;
	 padding-right: 20px;
	 float:left;
}

.container2 .container2_image_allign_vertical p {
	font-size: 32px;
	line-height: 50px;
	width: 700px;
}

.container2 .container2_image_allign_vertical h2 {
	font-size: 48px;
	font-weight: 500;
	width: 800;
}

.container2 .container2_image_allign_vertical a {
	font-size: 36px;
}


/*------------------------ container3 -----------------------------------------------*/


.container3 {
	width: 207%;
  padding-bottom: 650px;
  padding-top: 70px;
  margin-top: 20px;
}

.container3 h2 {
	font-size: 80px;
  margin: 70px 50px 0px 50px ;
  padding: 0px 20px;
  line-height: 130px;
}	

.container3 .featxt {
	font-size: 35px;
	line-height: 55px;
  margin: 10px 40px 40px 40px ;
  padding: 90px 10px;
}

.container3 hr {
	margin: 55px 310px;
	border-width: 2px;
}

.container3 img {
	height: 500px;
	width: 750px;
	max-width: 100%;
	padding-top: 70px;
}

.container3 .container3_imageleft_allign_horizontal {
	 vertical-align: middle;
	 margin-bottom: 70px;
	 margin-top: 70px;
}

.container3 .container3_image_allign_vertical {
	 width:350px;
	 text-align:left;
	 display:block;
	 background-color: transparent;
	 margin: 20px 410px 20px 0px;
	 float: center;
}

.container3 .container3_image_allign_vertical .headright {
	font-size: 46px;
	font-weight: 500;
	width: 900px;
	line-height: 52px;
	text-align: left;
}

.container3 .container3_image_allign_vertical .text1 {
	font-size: 30px;
	line-height: 47px;
	text-align: left;
	width: 700px;
}

.container3 .container3_image_allign_vertical li {
	padding-top: 5px;
	line-height: 57px;
	width: 900px;
	font-size: 30px;
}

.container3 .container3_imageright_allign_horizontal {
	 vertical-align: middle;
	 margin-bottom: 70px;
	 margin-top: 70px;
	 padding-bottom: 500px;
}


/*------------------------ container4 -----------------------------------------------*/


.container4 {
	width: 207%;
  padding-bottom: 140px;
  padding-top: 80px;
}

.container4 .planhead {
    font-size: 80px;
    margin: 70px 20px 0px 20px ;
    padding: 0px 20px;
    line-height: 130px;
}	

.container4 .featxt {
	font-size: 35px;
	line-height: 55px;
  margin: 10px 20px 40px 20px ;
  padding: 90px 10px;
}

.container4 hr {
	margin: 55px 310px;
	border-width: 2px;
}


           /*------------------- price table --------------------------------*/


.container4 .price-row{
	width: 90%;
	max-width: 1500px;
	margin: auto;
	display: block;
}

.container4 .price-col{
	padding: 10% 5%;
}

.container4 .price-col p{
	font-size: 30px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 3px;
}

.container4 .price-col h3{
	font-size: 85px;
	margin: 20px 0 40px;
	font-weight: 500;
}

.container4 .price-col h3 span{
	font-size: 30px;
}

.container4 .price-col ul{
	width: 250px;
	margin: 20px 0;
	padding-bottom: 15px;
}

.container4 .price-col ul li{
	margin: 15px 0px 15px 0px;
	size: 16px;
	padding: 0 20px;
	font-size: 30px;
}

.container4 .price-col button{
	width: 50%;
	padding: 25px 0;
	font-size: 35px;
}

.container4 .price-colcent{
	padding: 10% 5%;
	margin: 80px 0;
}

.container4 .price-colcent p{
	font-size: 30px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 3px;
}

.container4 .price-colcent h3{
	font-size: 85px;
	margin: 20px 0 40px;
	font-weight: 500;
}

.container4 .price-colcent h3 span{
	font-size: 30px;
}

.container4 .price-colcent ul{
	margin: 20px 0;
	width: 250px;
	padding-bottom: 15px;
}

.container4 .price-colcent ul li{
	margin: 15px 0px 15px 0px;
	padding: 0 20px;
	width: 280px;
	font-size: 30px;
}

.container4 .price-colcent button{
	width: 50%;
	padding: 25px 0;
	font-size: 35px;
}


/*------------------------ container5 -----------------------------------------------*/


.container5 {
	width: 207%;
  padding-bottom: 20px;
  padding-top: 70px;
  padding-bottom: 110px;
}

.container5 .planhead {
    font-size: 80px;
    margin: 70px 50px 0px 50px ;
    padding: 0px 20px;
    line-height: 130px;
}	

.container5 .featxt {
	font-size: 35px;
	line-height: 55px;
  margin: 10px 40px 40px 40px ;
  padding: 90px 10px;
}

.container5 hr {
	margin: 55px 310px;
	border-width: 2px;
}

         /*------------------- reviews --------------------------------*/

.container5 img {
	width:70px; 
	height:70px; 
	border-radius: 50%;
}

.container5 span {
	font-size:130%;
}

.container5 .rate-row {
	width: 90%;
	max-width: 2000px;
	margin: auto;
	display: block;
	padding: 5px 30px;
}

.container5 .rate-col {
	padding: 5% 5%;
	margin-bottom: 60px;
}

.container5 .rate-col p {
	font-size: 35px;
	font-weight: 500;
	line-height: 55px;
	padding-bottom: 10px;
}

.container5 .rate-col h3 {
	font-size: 35px;
}


/*------------------------ container6 -----------------------------------------------*/


.container6 {
	width: 207%;
	padding-bottom: 110px;
  padding-top: 70px;
}

.container6 .tryhead {
    font-size: 80px;
    margin: 70px 50px 0px 50px ;
    padding: 0px 20px;
}	

.container6 .trytxt {
	font-size: 35px;
	line-height: 50px;
  margin: 10px 30px 40px 30px ;
  padding: 0px 10px;
}

.container6 hr {
	margin: 55px 320px;
	border-width: 1px;
}

.container6 button { 
  padding: 25px 85px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 2em;
  margin-top: 60px;
  margin-left: 250px;
}

.container6 img { 
	padding-top: 160px;
	padding-left: 25px;
	padding-bottom: 50px;
	margin-left: 5px;
  width: 90%; 
  height: 80px;
}

.container6 .try-row {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	display: block;
	padding: 5px 10px;
}

.container6 .try-row ul {
	padding-left: 30px;
	font-weight: 550;
}

.container6 .try-col {
	padding: 1% 3%;
	text-align: left;
}

.container6 .try-col p {
	font-size: 30px;
	line-height: 50px;
	text-align: left;
		margin-right: 40px;
}

.container6 .try-col li {
	padding: 1% 3%;
	font-size: 40px;
	text-align: left;
}


/*------------------------ container7 -----------------------------------------------*/


.container7 {
	width: 207%;
  padding-bottom: 25px;
  padding-top: 40px;
}

.container7 .joinhead {
    font-size: 65px;
    margin: 50px;
    padding: 0px 5px;
}	

.container7 .jointxt {
	font-size: 35px;
	line-height: 60px;
  margin: 10px 30px 30px 30px ;
  padding: 0px 30px;
}

.container7 button { 
  padding: 25px 60px;
  font-size: 30px;
  margin-top: 80px;
  margin-left: 250px;
  margin-bottom: 50px;
}


/*------------------------ container8 -----------------------------------------------*/


.container8 {
	width: 207%; 
  padding-bottom: 160px;
  padding-top: 100px;
}

.container8 .co8-row{
	width: 80%;
	padding-left: 10px;
	margin: auto;
	display: block;
}

.container8 .rright-col {
	padding-top: 80px;
	padding-left: 10px;
}

.container8 .rright-col p{
	font-size: 28px;
	line-height: 27px;
}

.container8 .rright-col h3{
	font-size: 28px;
	font-weight: 300;
}

.container8 .lleft-col{
	padding-bottom: 20px;
}

.container8 .lleft-col input{
	width: 95%;
	font-size: 20px;
}

.container8 .lleft-col textarea{
	width: 95%;
	font-size: 20px;
}

.container8 .lleft-col h3{
	font-size: 35px;
	font-weight: 400;
}

.container8 .lleft-col button{
	width: 50%;
}


/*------------------------ footer -----------------------------------------------*/


.footer {
	padding: 50px 0;
  width: 207%;
}

.icons p {
	font-size: 31px;
	line-height: 47px;
  margin: 50px 40px 30px 40px ;
  padding: 0px 10px;
}

.icons{
    padding: 3rem 0;
}

.icons a{
    font-size: 4rem;
    margin: 1.5rem;
} 



}




/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------*/